
#main {
  transition: margin-right .5s;
  padding: 16px;
}



.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
    background-color: #eeeeee;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}








.alert {
   display:inline-block;
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


.buttons {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.hidden {
    display: none;
}


html,
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}



tt {
    font-family: "Lucida Console", "Menlo", "Monaco", "Courier",
    monospace;
}

.page-container {
    height: inherit;
    display: flex;
}




/* Premise and Conclusion Fields */
#premise-conclusion {
    width: 10%;
}

#id_rules {
    width: 100%;
    margin-bottom: 5px;
}

#id_name {
    width: 100%;
    margin-bottom: 5px;
}

#id_premises {
    width: 100%;
    margin-bottom: 5px;
}

#id_conclusion {
    width: 100%;
    margin-bottom: 5px;
}

#id_question {
    width: 100%;
    margin-bottom: 5px;
}

#id_grade {
    width: 100%;
    margin-bottom: 5px;
}


[id$=line_no] {
    width: 75px;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}


#id_point {
    width: 100%;
    margin-bottom: 5px;
}

#id_target_steps {
    width: 100%;
    margin-bottom: 5px;
}

